<style>
    .checkip {
        text-align: center;
        /* font-family: 'Open Sans', sans-serif; */
        font-family: 'Be Vietnam Pro', sans-serif;
        /* color: balck; */
    }
</style>

<footer>
    <div class="checkip">
        <div>Your IP address: <strong><span id="ipv4"></span></strong></div>
        <div>Country: <span id="country"></span></div>
        <div>Country Code: <span id="country_code"></span></div>
        <!--<div>State: <span id="state"></span></div>-->
        <!--<div>City: <span id="city"></span></div>-->
        <!--<div>Postal: <span id="postal"></span></div>-->
        <div>Latitude: <span id="latitude"></span></div>
        <div>Longitude: <span id="longitude"></span></div>
        <script>
            var country = document.getElementById('country');
            var country_code = document.getElementById('country_code');
            // var state = document.getElementById('state');
            // var city = document.getElementById('city');
            // var postal = document.getElementById('postal');
            var latitude = document.getElementById('latitude');
            var longitude = document.getElementById('longitude');
            var ip = document.getElementById('ipv4');
            function callback(data) {
                country.innerHTML = data.country_name;
                country_code.innerHTML = data.country_code;
                // state.innerHTML = data.state;
                // city.innerHTML = data.city;
                // postal.innerHTML = data.postal;
                latitude.innerHTML = data.latitude;
                longitude.innerHTML = data.longitude;
                ip.innerHTML = data.IPv4;
            }
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://geolocation-db.com/json/geoip.php?jsonp=callback';
            var h = document.getElementsByTagName('script')[0];
            h.parentNode.insertBefore(script, h);
        </script>
</footer>