<!-- Disable copy text -->
<style>
      body {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
      }
</style>

<script>
      function killCopy(e) {
            return false;
      }

      function reEnable() {
            return true;
      }

      document.onselectstart = new Function("return false");

      if (window.sidebar) {
            document.onmousedown = killCopy;
            document.onclick = reEnable;
      }
</script>

<!-- Disable mouse right-click -->
<script type="text/JavaScript">
      var message="NoRightClicking"; function defeatIE() {if (document.all) {(message);return false;}} function defeatNS(e) {if (document.layers||(document.getElementById&&!document.all)) { if (e.which==2||e.which==3) {(message);return false;}}} if (document.layers) {document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;} else{document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;} document.oncontextmenu=new Function("return false") 
</script>

<!-- Disable ctrl + u -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
      document.onkeydown = function (e) {
            if (e.ctrlKey &&
                  (e.keyCode === 67 ||
                        e.keyCode === 86 ||
                        e.keyCode === 85 ||
                        e.keyCode === 117)) {
                  return false;
            } else {
                  return true;
            }
      };
      $(document).keypress("u", function (e) {
            if (e.ctrlKey) {
                  return false;
            }
            else {
                  return true;
            }
      });
</script>